@using MvcMovie.Models
@model MvcMovie.Models.Database.Movie
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        @foreach(var comment in Model.Comments)
        {
            <dd>
                @Html.DisplayFor(text => comment.Text)
            </dd>
        }         
    </dl>
</div>
<div align="center">
    @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
        {   
            <h1>Comment</h1>
            <div class='form-group'>
                @Html.Hidden("MovieID", Model.ID)
                @Html.TextArea("Text")
            </div>
            <input type="submit" value="Send" />
        } 
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
